.panelcard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10% 0 10%;
}

.card{
    margin: 2rem 5rem 2rem;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    transition: transform .2s;
}